<!DOCTYPE>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>{{pageTitle}}</title>
    </head>

    <body>
        <h1>{{pageTitle}}</h1>
        <h3>Welcome to our Website, please enter your login and password</h3>
        <h3>If you are new here, then Sign up</h3>
        <form action="/submit" method="post">
            <span style="padding-right: 23px;">Login:</span>
            <input type="text" name="login">

            <div class="block"></div>

            <span>Password:</span>
            <input type="password" name="password">

            <div class="block"></div>

            
            <button type="submit" name="signup">Sign up</button>
        </form>
    </body>
</html>